@model IEnumerable<OnlineExaminationSystem.Models.Course>

@{
    ViewData["Title"] = "Index";
}


<style>
    .container-3d {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        width: 80%; /* Adjust the percentage value as needed */
        margin: auto; /* Center the container horizontally */
    }

    .heading {
        text-align: center;
    }

    .separator {
        margin: 20px 0;
        border: none;
        border-top: 1px solid #000;
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .centered {
        flex-grow: 1;
        display: flex;
        justify-content: center;
    }

</style>


<div class="container-3d text-center">

    <div class="text-center">
        <div class="d-flex align-items-center mb-3 justify-content-center">
            <a href="javascript:history.back()" class="btn btn-secondary">
                <i class="bi bi-arrow-left"></i>
            </a>
            <h1 class="mx-auto" >Courses</h1>
        </div>
    </div>

    <hr class="separator">
<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>