@*@model CreateExamViewModel

<h2>Create Exam</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description)
        @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Description)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.StartTime)
        @Html.TextBoxFor(model => model.StartTime, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.StartTime)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EndTime)
        @Html.TextBoxFor(model => model.EndTime, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.EndTime)
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
}
*@