@using OnlineExaminationSystem.ViewModels
@model StudentAssignmentViewModel


<head>
    <link rel="stylesheet" href="~/css/container_alert.css" asp-append-version="true" />
</head>

<div class="container-3d">
    <div class="text-center">
        <div class="d-flex align-items-center mb-3">
            <a href="javascript:history.back()" class="btn btn-secondary">
                <i class="bi bi-arrow-left"></i>
            </a>
            <h1 class="mx-auto ml-4" style="margin-left: -10px;">@Model.Title&nbsp&nbsp&nbsp&nbsp&nbsp</h1>
        </div>
    </div>
    <hr class="my-4">
    <div class="text-center">
        <div>
            <p><strong>Description:</strong></p>
            <p>@Model.Description</p>
        </div>

        <hr class="my-4">

        <div>
            <p><strong>Due Date:</strong></p>
            <p>@Model.DueDate.ToString("F")</p>
        </div>

        <hr class="my-4">

        <div>
            <p><strong>Max Points:</strong></p>
            <p>@Model.MaxPoints</p>
        </div>

        <hr class="my-4">

        <div>
            <p><strong>Course:</strong></p>
            <p>@Model.CourseName</p>
        </div>

        <hr class="my-4">

        <div>
            <p><strong>Exam:</strong></p>
            <p>@Model.ExamName</p>
        </div>

        <hr class="my-4">

        <div>
            <a class="btn btn-primary btn-sm" href="@Url.Action("TakeExam", "Exam")?examId=@Model.ExamId&assignmentId=@Model.Id">Start Exam</a>
        </div>
    </div>
</div>


