@using OnlineExaminationSystem.ViewModels
@model TakeExamViewModel

<div class="text-center">
    <h1>@Model.ExamName</h1>

    <form method="post" id="examForm" asp-route-answersJson="answersJson">
        <input type="hidden" name="examId" value="@Model.ExamId" />
        <input type="hidden" name="assignmentId" value="@Model.AssignmentId" />

        @* Hidden JSON object to store selected answers *@
        <input type="hidden" id="answersJson" name="answersJson" value="" />
        <input type="hidden" id="textAnswersJson" name="textAnswersJson" value="" />

        @foreach (var question in Model.Questions)
        {
            <div style="margin-bottom: 20px; padding: 10px; border: 2px solid gray;">
                <h3 style="text-align: left;">@(Model.Questions.IndexOf(question) + 1). @question.Text</h3>

                <input type="hidden" name="questions[@question.Id].questionId" value="@question.Id" />

                <div style="margin-top: 10px;">
                    @if (question.QuestionType == QuestionType.SingleChoice || question.QuestionType == QuestionType.TrueFalse)
                    {
                        <div style="display: flex; flex-direction: column;">
                            @foreach (var answer in question.Answers)
                            {
                                <div style="display: flex; align-items: center;">
                                    <input type="radio" name="questions[@question.Id].selectedAnswerId" value="@answer.Id" style="margin-right: 10px;" />
                                    <label style="margin-bottom: 0;">@answer.Text</label>
                                </div>
                            }
                        </div>
                    }
                    else if (question.QuestionType == QuestionType.MultipleChoice)
                    {
                        <div style="display: flex; flex-direction: column;">
                            @foreach (var answer in question.Answers)
                            {
                                <div style="display: flex; align-items: center;">
                                    <input type="checkbox" name="questions[@question.Id].selectedAnswerIds" value="@answer.Id" style="margin-right: 10px;" />
                                    <label style="margin-bottom: 0;">@answer.Text</label>
                                </div>
                            }
                        </div>
                    }
                    else if (question.QuestionType == QuestionType.Essay || question.QuestionType == QuestionType.ShortAnswer)
                    {
                        <textarea name="@question.Id" style="width: 100%;"></textarea>
                    }

                </div>
            </div>
        }


        <div class="text-center">
            <button type="button" id="submitExam">Submit Exam</button>
        </div>
    </form>

</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            $("#submitExam").click(function () {
                var formData = $("#examForm").serializeArray();
                var selectedAnswerIds = [];
                var textAnswers = {};

                for (var i = 0; i < formData.length; i++) {
                    var key = formData[i].name;
                    var value = formData[i].value;

                    if (key.endsWith("selectedAnswerId")) {
                        selectedAnswerIds.push(value);
                    } else if (key.endsWith("selectedAnswerIds")) {
                        selectedAnswerIds = selectedAnswerIds.concat(value.split(","));
                    } else if (key.match(/^\d+$/)) {
                        textAnswers[key] = value;
                    }
                }

                var jsonData = JSON.stringify(selectedAnswerIds);
                console.log(jsonData);

                // Set the value of the hidden input fields to the JSON data
                $("#answersJson").val(jsonData);
                $("#textAnswersJson").val(JSON.stringify(textAnswers));

                // Submit the form
                document.getElementById("examForm").submit();
            });
        });
    </script>




}

    