@using OnlineExaminationSystem.ViewModels
@model TakeExamViewModel

<head>
    <link rel="stylesheet" href="~/css/container_alert.css" asp-append-version="true" />
</head>

<div class="container-3d">


<div class="text-center">
    <h1>@Model.ExamName</h1>
    <hr class="separator">
    <form method="post" id="examForm" asp-route-answersJson="answersJson">
            <div style="display: inline-block; border: 2px solid gray; padding: 10px; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); margin-bottom:10px">
                <div class="timer">
                    <span id="hours">0@((int)Math.Floor((double)Model.ExamDuration / 60))</span>:<span id="minutes">0@((int)Math.Floor((double)Model.ExamDuration % 60))</span>:<span id="seconds">00</span>
                </div>
            </div>
        <input type="hidden" name="examId" value="@Model.ExamId" />
        <input type="hidden" name="assignmentId" value="@Model.AssignmentId" />

        @* Hidden JSON object to store selected answers *@
        <input type="hidden" id="answersJson" name="answersJson" value="" />
        <input type="hidden" id="textAnswersJson" name="textAnswersJson" value="" />

        @foreach (var question in Model.Questions)
        {
            <div style="margin-bottom: 20px; padding: 10px; border: 2px solid gray;">
                <h3 style="text-align: left;">
                    @(Model.Questions.IndexOf(question) + 1). @question.Text
                    <span style="font-size: 16px; color: red;font-family: Arial, sans-serif;">- @question.Points p.</span>
                </h3>

                <input type="hidden" name="questions[@question.Id].questionId" value="@question.Id" />

                <div style="margin-top: 10px;">
                    @if (question.QuestionType == QuestionType.SingleChoice || question.QuestionType == QuestionType.TrueFalse)
                    {
                        <div style="display: flex; flex-direction: column;">
                            @foreach (var answer in question.Answers)
                            {
                                <div style="display: flex; align-items: center;">
                                    <input type="radio" name="questions[@question.Id].selectedAnswerId" value="@answer.Id" style="margin-right: 10px;" />
                                    <label style="margin-bottom: 0;">@answer.Text</label>
                                </div>
                            }
                            <input type="radio" name="questions[@question.Id].selectedAnswerId" value="-1" checked style="display:none" />
                        </div>
                    }
                    else if (question.QuestionType == QuestionType.MultipleChoice)
                    {
                        <div style="display: flex; flex-direction: column;">
                            @foreach (var answer in question.Answers)
                            {
                                <div style="display: flex; align-items: center;">
                                    <input type="checkbox" name="questions[@question.Id].selectedAnswerIds" value="@answer.Id" style="margin-right: 10px;" />
                                    <label style="margin-bottom: 0;">@answer.Text</label>
                                </div>
                            }
                        </div>
                    }
                    else if (question.QuestionType == QuestionType.Essay || question.QuestionType == QuestionType.ShortAnswer)
                    {
                        <textarea name="@question.Id" style="width: 100%;"></textarea>
                    }
                </div>
            </div>
        }

        <div class="text-center">
            <button type="button" id="submitExam">Submit Exam</button>
        </div>
    </form>
</div>
</div>


@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" />
    @if (Model.IsSecure)
        {
    <script src="~/js/securityScript.js"></script>
        }
    <script src="~/js/timerLogic.js"></script>


}

    