@using OnlineExaminationSystem.ViewModels

@model CreateQuestionViewModel

@{
    ViewData["Questions"] = "Create questions";
}
<h1>@ViewData["Questions"]</h1>

@using (Html.BeginForm("CreateQuestion", "Questions", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.QuestionText)
        @Html.TextAreaFor(m => m.QuestionText, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.QuestionText)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.QuestionType)
        @Html.DropDownListFor(m => m.QuestionType, Model.QuestionTypes, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.QuestionType)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Answers)
        @Html.TextAreaFor(m => m.Answers, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Answers)
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
}




